body {
  height: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
  background-color: #282c34;
  -ms-overflow-style: none;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.round {
  margin-bottom: 10px;
}

.board {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px !important;
}

button.active {
  background-color: #00b8a0;
  color: black;
}

button:hover {
  background-color: #00b8a0;
  color: white;
}

svg {
  top: .2em;
  position: relative;
}

.score-table {
  text-align-last: center;
}

.score-table .current-round {
  border-left: solid 2px gray;
}