body {
  height: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #282c34;
  -ms-overflow-style: none;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.round {
  margin-bottom: 10px;
}

.board {
  display: flex;
  justify-content: center;
}

button.active {
  background-color: #00b8a0;
}

svg {
  top: .2em;
  position: relative;
}