.red svg {
  color: #D82600;
}
.red-swatch {
  background-color: #D82600;
}

.orange svg {
  color: #F49E20;
}
.orange-swatch {
  background-color: #F49E20;
}

.yellow svg {
  color: #F4EF20;
}
.yellow-swatch {
  background-color: #F4EF20;
}

.green svg {
  color: #46CD16;
}
.green-swatch {
  background-color: #46CD16;
}

.teal svg {
  color: #16CD8C;
}
.teal-swatch {
  background-color: #16CD8C;
}

.blue svg {
  color: #16AECD;
}
.blue-swatch {
  background-color: #16AECD;
}

.indigo svg {
  color: #786EFB;
}
.indigo-swatch {
  background-color: #786EFB;
}

.violet svg {
  color: #C96EFB;
}
.violet-swatch {
  background-color: #C96EFB;
}

.magenta svg {
  color: #CD16B7;
}
.magenta-swatch {
  background-color: #CD16B7;
}
