.score-table {
  text-align-last: center;
}

.score-table .current-round {
  border-left: solid 2px gray;
}

.settings {
  padding: 20px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  margin: 20px 10px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid mintcream;
}

.selected-color-swatch {
  -webkit-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  -moz-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  box-shadow: 0 0 10px 4px rgba(91,162,217,1);
}
