.loading-page {
  width: 50%;
  max-height: 90vh;
  font-style: italic;
}

.player-hand {
  width: 50%;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.hand {
  height: 100%;
  overflow: auto;
}

.player-actions {
  display: flex;
  margin: 10px 40px;
  justify-content: space-between;
}

.error-message {
  display: flex;
  justify-content: center;
}

.domino-section {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-domino {
  -webkit-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  -moz-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  box-shadow: 0 0 10px 4px rgba(91,162,217,1);
}