.player-hand {
  width: 50%;
  max-height: 90vh;
}

.hand {
  height: 100%;
  overflow: scroll;

}

.player-actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
}

.domino-section {
  display: flex;
  margin: 0 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-domino {
  -webkit-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  -moz-box-shadow: 0 0 10px 4px rgba(91,162,217,1);
  box-shadow: 0 0 10px 4px rgba(91,162,217,1);
}